/**/
*, ::after, ::before {
    box-sizing: border-box;
}

*::-webkit-scrollbar {
    width: 0;
    height: 0;
}

html {
    overflow: hidden;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    -webkit-touch-callout: none;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    font-family: "-apple-system", "Helvetica Neue", Roboto, "Segoe UI", sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-backface-visibility: hidden;
    -webkit-user-drag: none;
    -ms-content-zooming: none;
}

.weilai-container {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

ol, ul, ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a, abbr, address, article, aside, audio, b, blockquote, body, canvas, caption, cite,
code, dd, del, details, dfn, div, dl, dt, em, fieldset, figcaption, figure, footer,
form, h1, h2, h3, h4, h5, h6, header, hgroup, hr, html, i, iframe, img, ins, kbd, label,
legend, li, mark, menu, nav, object, ol, p, pre, q, samp, section, small, span, strong, sub,
summary, sup, table, tbody, td, tfoot, th, thead, time, tr, ul, var, video {
    margin: 0;
    padding: 0;
    border: 0;
}

img {
    height: auto;
    width: 100%;
}

input, textarea, button {
    -webkit-appearance: none;
    border: 0;
    outline: 0;
}

input, textarea {
    font-size: 16px;
}

.left {
    float: left;
}

.right {
    float: right;
}

.center:after {
    content: '';
    display: table;
    clear: both;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.weilai-index-background {
    background-color: #fffbd8;
    overflow: auto;
    height: 100%;
}

.swiper-slide img{
    transition: all .2s ease-in-out;
}
.swiper-slide img.active{
    transform: scale(1.2);
    filter: blur(1px);
    -webkit-filter: blur(1px);
}